body {
  width: 100vw;
  height: 100vh;
  margin:0;
    background: #222;
    perspective: 1px;
    transform-style: preserve-3d;
}
.section1, .section2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.section2 {
  background: rgb(68, 35, 19);
}